{% extends "layoutAdm.html" %}

{% block body %}

<section id="addArticle">
    <form class="container" method="POST">
        <h3 class="well">{{titre}} créé par {{post.userName}}
	    le {{post.dateAjout|date('d-m-Y à  H:i:s')}} </h3>
        <div class="form-group">
            <label for="contenu">Titre de l'article</label>
            <input type="text" required name="titre" class="form-control"
		   value="{{post.titre}}">
        </div>
        <div class="form-group">
            <label for="contenu">Contenu de l'article</label>
            <textarea required name="contenu" class="form-control" rows="10"
		      placeholder="Saisir le contenu de l'article">{{post.contenu}}</textarea>
        </div>
        <div class="form-group pull-right">
            <input type="submit" class="btn btn-success btn-lg" value="Valider">
        </div>
    </form>
</section>
{% endblock %}